{% extends 'base.html.twig' %}

{% block title %}{{ 'ABOUT.PAGETITLE'|trans }}{% endblock %}

{% block body %}

    <article class="about_info">
        <h2>About <span>{{ 'APP.TITLE'|trans }}</span> </h2>

        <p>
            LëtzSwap! provides users a place where they can post unwanted items to swap them between themselves.
        </p>
        <p>
            Most of us are more and more aware about the effects of our purchase habits and communities are demanding
            for more sustainable ways to answer their needs.
        </p>
        <p> Have any questions or inquiries?</p>
        <h2>Contact us </h2>
        {#{% include 'Contact/contact.html.twig' %}#}
        {{ form(contactForm) }}
    </article>

{% endblock %}

