{% extends 'base.html.twig'%}

<title>{% block title %}About Letzswap{% endblock %}</title>

{% block body %}
    <button href="#contact">Contact Us!</button>
    <h2>What is the main idea of the project?</h2>
    <p>
        A website, which provides users a platform to swap goods between themselves, in Luxembourg.
    </p>
    <h2>Why this project?</h2>

    Consumers are becoming more and more conscious about the effects of their purchase habits. As unsustainable production methods and sourcing from long distances contribute to global warming, there is a growing demand for sustainable alternatives. One growing trend amongst consumers is to purchase pre-owned items or to exchange unwanted goods.

    In Luxembourg, the concept of buying pre-owned items is not new. From March until November, three main flea market events take place every month: “Brocante of Place d’Armes”, “Glacismaart” and “Garage sales Place Guillaume II”.

    While these events could provide a nice family outing, their functioning processes are very slow: sellers must register and pay for a stand which then they must cater during a whole day, while buyers need to physically visit each stand and view unsorted items until they might find something they want.

    What is it and how does it work?

    LetzSwap is a peer-to-peer platform, which facilitates fast swapping of goods in Luxembourg. Users can post photos and descriptions of their items in under one minute and they can easily scroll through available items they can swap with. If there is no item of interest for them, they can state what item they want in return and receive a notification when a match is available

    </p>
{% endblock %}
