{% extends 'base.html.twig' %}

{% block title %}{{ 'REGISTRATION.ACTIVATION.TITLE'|trans }}{% endblock %}

{% block body %}
    <p class="alert alert-success">{{ 'REGISTRATION.ACTIVATION.INFO'|trans }}</p>
{% endblock %}