{% extends 'base.html.twig' %}
{% trans_default_domain 'registration' %}

{% block title %}Letzswap | {{ 'REGISTRATION.ACTIVATION.TITLE'|trans }}{% endblock %}

{% block body %}
    <p class="alert alert-success">{{ 'REGISTRATION.ACTIVATION.INFO'|trans }}</p>
{% endblock %}