{% extends 'base.html.twig' %}

{#TODO: Create translations#}
{% block title %}Letzswap | {{ 'REGISTRATION.TITLE'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'REGISTRATION.TITLE'|trans }}</h1>

    {{ form_end(registrationForm) }}
{% endblock %}
