{% extends 'base.html.twig' %}

{% block title %}Letzswap | {{ 'REGISTRATION.TITLE'|trans({}, 'registration') }}{% endblock %}

{% block body %}
    <div class="registration_page">
        <div>
            <h1 id="registration_title">{{ 'REGISTRATION.TITLE'|trans }}</h1>
        </div>
        <div class="registration_form_container">
        {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
