{% extends 'base.html.twig' %}
{% trans_default_domain 'registration' %}

{% block title %}Letzswap | {{ 'REGISTRATION.TITLE'|trans({}, 'registration') }}{% endblock %}

{% block body %}
    <h1>{{ 'REGISTRATION.TITLE'|trans }}</h1>

    {{ form(registrationForm) }}
{% endblock %}
