<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'SWAP.MAIL.TITLE'|trans({'%item%': item.getTitle(), '%name%': user.getUsername()}) }}</title>
</head>
<body>
<h1>{{ 'SWAP.MAIL.TITLE'|trans({'%item%': item.getTitle(), '%name%': user.getUsername()}) }}</h1>

{# FIXME: Content needed#}
<p>We need content here! User and Item properties are available to use on the text as in titles above.
    The trans() function passes parameters gotten from User and Item entities to be inserted inside
    the text in messages.[twol etter code here].yaml</p>


</body>
</html>
