{% block banner %}
<div id="elevator_pitch">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Welcome back to <span>LëtzSwap</span></h1>
        <h2 id="username">{{ app.user.username }}   </h2>
        <p> Letzswap is the simplest way to extend the life of your goods
            by giving them a new owner. Swish locally, exchange on your own terms, swap easily!
        </p>
    {% else %}
        <h2>Welcome to Letzswap!</h2>

        <p> This platform is the <span>simplest way</span>
            to extend the life of your goods
            by giving them a new owner.
            <br> Swish <span>locally</span>, exchange <span>on your own terms</span>, swap <span>easily</span>!
        </p>
        {#                <h1>Welcome to <span>{{ 'APP.TITLE' | trans }}</span></h1>#}
        {#                <p> - {{ 'APP.TITLE' | trans }} website – What is it and how does it work?#}
        {#                    LetzSwap is a peer to peer platform which facilitates fast swapping of goods in Luxembourg. Users#}
        {#                    can#}
        {#                    post photos and descriptions of their items in under one minute and they can easily scroll through#}
        {#                    available items they can swap with.#}
        {#                </p>#}
    {% endif %}
</div>
{% endblock %}

