<footer class="footer">



    <ul class="footer_elements">
        <li class="footer_elements {#% if app.request.attributes.get('_route') == 'term_of_service' %} active {% endif %#}">
            <a class="footer_link" href="{#{ path('terms_of_service') }#}">
                {{ 'NAV.TERMS'|trans }}
            </a>
        </li>
        <li class="footer_elements">
            <!-- Copyright -->
            © 2019 Copyright - LëtzSwap!
            <!-- Copyright -->
        </li>
    </ul>

</footer>