<footer class="footer">

    <ul class="footer_elements">
        <li {% if app.request.attributes.get('_route') == 'term_of_service' %} active {% endif %}>
            <a class="footer_link" href="{{ path('term_of_service') }}">
                {{ 'NAV.TERMS'|trans }}
            </a>
        </li>
        <li>
            <!-- Copyright -->
            {{ 'APP.TITLE' | trans }} &copy; 2019
            <!-- Copyright -->
        </li>
    </ul>

</footer>