{% extends 'base.html.twig' %}

{% block title %}Welcome to LëtzSwap!{% endblock %}

{% block body %}
<main>
<article id="elevator_pitch">
<p>Consumers are becoming more and more conscious about the effects of their purchase habits. As
unsustainable production methods and sourcing from long distances contribute to global warming, there
is a growing demand for sustainable alternatives. One growing trend amongst consumers is to purchase
pre-owned items or to exchange unwanted goods.</p>
</article>

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 17rem;">
                <img src="https://picsum.photos/200/300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div id="butons">
                        <a href="#" class="btn btn-danger"><i class="far fa-flag"></i><br>Report</a>
                        <a href="#" class="btn btn-primary"><i class="fas fa-sync"></i><br>Swap</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
