#terms {
    margin: 2rem;
}
#terms h1 {
    text-align: center;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
}

body{
    position: relative;
    background-color: white;
    margin-top: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    display: flex;
    position: fixed;
    background-color: #f2f2f2;
    box-shadow: -2px 10px 30px -12px rgba(0,0,0,0.75);
}

.navbar_list {
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    color: #336655;
    list-style: none;
}
.navbar_element {
    padding: 2px 18px;
    margin-left: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border:1px solid #336655;
    font-size: 16px;
    }
.navbar_element:hover {
    background-color: #c9f0e3;
}

.navbar_link {
    color: #336655;
    text-decoration: none;
    font-weight: 400;
    }

.navbar_link:hover {
    text-decoration: none;
    background-color: #c9f0e3;
    color:#336655;
}

#elevator_pitch {
    margin: 3rem 10rem 3rem 33rem;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #336655 ;
    }
/* 2 buttons report and see more, flex applied so they appear next to each other */
#butons {
    display: flex;
}
/* The...card*/
.card {
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px #336655;
    border: 2px solid #336655;
    background-color: #ffffff;
}
.card img {
    box-shadow: 2px 2px 3px 1px;
    border-radius: 3%;
}

.card_category_free {
    position: absolute;
    bottom: 88.5%;
    left: 77%;
    background-color: #336655;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.31);
    padding: 0.3rem;
    border-radius: 7%;
}
.card_category_swap {
    position: absolute;
    bottom: 88.5%;
    left: 75%;
    background-color: #336655;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.31);
    padding: 0.3rem;
    border-radius: 7%;

}
/* Container for the cards, so they appear next to each other*/
.container {
    display: flex;
}
.card-title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Red button with flag to report the item*/
.btn.btn-danger
 {
    border-radius: 100%;
    -webkit-box-shadow: -2px 6px 21px -10px rgba(0,0,0,1);
    -moz-box-shadow: -2px 6px 21px -10px rgba(0,0,0,1);
    box-shadow: -2px 6px 21px -10px rgba(0,0,0,1);
}

/* Blue button with asterik to see the details of the item*/
.btn.btn-primary
{
    margin-left: 7rem;
    border-radius: 100%;
    -webkit-box-shadow: -2px 6px 21px -10px rgba(0,0,0,1);
    -moz-box-shadow: -2px 6px 21px -10px rgba(0,0,0,1);
    box-shadow: -2px 6px 21px -10px rgba(0,0,0,1);
}




