/*Phone first! */
html {
    overflow: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 0.1s;
}

::-webkit-scrollbar {
    display: none;
}

#terms_details p::first-letter {
    font-weight: bold;
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    animation: fadein 1s;
    overflow: auto;
}

#App {
    /*min-height: 70vh;*/
    max-width: 1200px;
    margin: 10px auto 100px;
}

.form_grey_input {
    border-radius: 3px;
    border: 0 solid #e6e6e6;
    background-color: #F6F6F6;
    color: gray();
}

.form_grey_input::placeholder {
    color: gray();
}

#inputUsername {
    margin: 0;
    margin-bottom: 10px;
}

#inputPassword {
    margin: 0;
    margin-bottom: 10px;
}

.navbar {
    background-color: #ffffff;
    box-shadow: -6px 4px 7px -5px rgba(0, 0, 0, 0.75);
}

.border-letzswap {
    border-radius: 102px 102px 102px 102px;
    border: 0px solid lightgray;
    background-color: lightgray;
}

.navbar-toggler {
    border: none;

}

.button {
    padding: 2px 18px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 12px;
    background-color: #336655;
    border: 1px solid #336655;
}

.button:hover {
    background-color: #336655;
    color: white;

}

/*Text from the top main page - header*/
#elevator_pitch {
    margin-top: 10px;
    padding: 90px 20px 20px;
    /*animation: fadein 3s;*/
    background-color: #336655;
    color: #ffffff;

}

#elevator_pitch span {
    color: #55aa8e;
}

#elevator_pitch h2 {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    align-items: center;
    /*animation: fadein 3s;*/
}

#elevator_pitch h2 span {
    color: #f3400c;
    font-weight: bold;
}

#elevator_pitch p {
    font-size: 14px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.active {
    background-color: #5ff03f;
}


/*Item cards start*/
.card {
    width: 230px;
    height: 270px;
    background-color: white;
    margin: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 6px 0px rgba(166, 166, 166, 1);
    /* card:hover*/
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    -webkit-animation-direction: alternate;
    animation: move-in 0.5s;
    border: 0px;
}

.card-title {
    margin: 0.5rem;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    /*outline: 5px solid #c9f0e3;
    /*-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);*/
    /*-webkit-transform: translateY(-5px);*/
    /*transform: translateY(-5px);*/
}

.card:hover {
    box-shadow: 0px 0px 35px -10px black;
}

.card-img-top {
    height: 73%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

#item_open_button {
    padding: 3px;
}

.btn-default {
    background-color: #336655;
    color: #FFF;
    border-color: #336655;
    border-radius: 0px;
}


.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #336655;
    color: #FFF;
    border-color: #336655;
}

/*Item cards end*/

@keyframes move-in {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* This is the start of the Fade in for the card and elevator pitch, Karlo */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* This is the end of the Fade in for the card and elevator pitch, I (Karlo) also added border-radius*/

#add_item_buttons {
    display: flex;
}

/* Item details ui, Karlo start, mobile first*/

.img-thumbnail {
    border: none;
}

#item_detail_buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;

}

#item_detail_buttons button:hover {
    filter: brightness(150%);
    border: 1px solid black;

}

#avatar {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
}

#avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 2rem;
}

.row img {
    width: 250px;
    height: 250px;

}

.footer {
    display: flex;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #336655;
    color: #ffffff;
    position: absolute;
    /*min-height: 100vh;*/
    /*padding-bottom: 60px; !* Should be equal to the height of your footer *!*/
    /*box-shadow: 0px -10px 30px -12px rgba(0,0,0,0.75);*/
}

.footer_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.footer_elements a {
    text-decoration: none;
}

.footer_elements a:hover {
    color: orange;
}


.footer_link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.registration_page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 950px;
}

#registration_title {
    text-align: center;
}

.registration_form_container {
    display: flex;
    justify-content: center;
}

.login_page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
}

/* This is applied on the log-in form template in case of a user clicking on letzswap without being logged */
.form-control {
    margin: 0.5rem;
}


.about_info {
    text-align: center;
    margin: 0.7rem;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
}

.about_info h2 {
    font-size: 50px;

}

.about_info h2 span {
    color: #5ff03f;
    font-weight: bold;
    font-size: 50px;

}

/* This is a bootstrap property changed to fit the responsive needs*/
.form-group {
    margin-bottom: 0rem;
}

/*

/* Apolline`s modal to be applied differently on each platform */
.modal-dialog {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 8.75rem auto;
}


/* Adding logo to navbar with help of Filip   */
#logo {
    font-family: 'Catamaran', sans-serif;
    display: flex;
    font-size: 16px;
    align-items: center;
}

#logo h2 {
    font-weight: bold;
}

#logo a {
    color: #336655;
}

#logo a:hover {
    text-decoration: none;
}


/* Terms of service page start */
#terms {
    margin: 2rem;
}

#terms h1 {
    text-align: center;
}


.table th {
    padding: 3px;
}

.padding_admin_table {
    padding: 14px;
}
@media screen and (max-width:800px){
    .card {
        width: 130px;
        height: 170px;

    }
    .card-title {
        margin: 0.1rem;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn-default {
        background-color: #336655;
        color: #FFF;
        border-color: #336655;
        border-radius: 0px;
        font-size: 14px;
    }

}
/* Terms of service page end */

/*Users end*/

/* Admin dashboard end */

/*!* Tablet *!*/
/*@media screen and (min-width:800px) {*/

/*!* Apolline's modal to be applied differently on each platform *!*/
/*.modal-dialog {*/
/*position: absolute;*/
/*top: 30%;*/
/*left: 50%;*/
/*transform: translate(-50%, -50%) !important;*/
/*}*/
/*.about_info{*/
/*text-align: center;*/
/*display: flex;*/
/*font-size: 20px;*/
/*flex-direction: column;*/
/*justify-content: center;*/
/*max-width: 550px;*/
/*}*/
/*.about_info h2 {*/
/*font-size: 60px;*/


/*@media screen and (min-width: 1200px) {*/

/*Search bar*/

/*#search-height {*/
/*height: 25px;*/
/*}*/

/*.has-search .form-control {*/
/*padding-left: 2.375rem;*/
/*}*/

/*.has-search .form-control-feedback {*/
/*position: absolute;*/
/*z-index: 2;*/
/*display: block;*/
/*width: 2.375rem;*/
/*height: 2.375rem;*/
/*line-height: 2.375rem;*/
/*text-align: center;*/
/*pointer-events: none;*/
/*color: #aaa;*/
/*}*/







