* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #7959db;
    margin-top: 40px;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #f2f2f2;
    width: 100%;
    height: 40px;
    justify-content: flex-end;


}
.navbar_list {
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar_element {
    margin-left: 10px;
}
