{% extends 'base.html.twig' %}

{% block title %}LëtzSwap Admin Area{% endblock %}
{#TODO: Don't theme this file! #}
{% block body %}
    <main>
        <div class="container-fluid justify-content-center">
            <div class="d-flex justify-content-center flex-wrap ">
                {% for user in users %}
                    <div class="col">
                        <div class="card" style="width: 17rem;">
                            <img class="card-img-top"
                                 src="{#{ <gravatar call here> }#}"
                                 alt="{{ user.username }}'s gravatar" width="250px">
                            <div class="card-body">
                                <h5 class="card-title">Username: <strong>{{ user.username }}</strong></h5>
                                <h5 class="card-title">{{ user.username }}'s items:</h5>
                                {% if user.items %}
                                    {% for item in user.items %}
                                        <p>{{ item.title }}</p>
                                    {% endfor %}
                                {% endif %}
                                <div id="butons">
                                    <a href="{#{ path('item_report', {'id': item.getId()}) }#}"
                                       class="btn btn-danger"><i class="fab fa-font-awesome-flag"></i></a>
                                    <a href="{#{ path('item_details', {'id': item.getId()}) }#}"
                                       class="btn btn-info"><i class="fas fa-info"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
