{% extends 'base.html.twig' %}
{% block title %}{{ 'TERMS.PAGETITLE'|trans }}{% endblock %}

    {% block body %}

        <article id="terms">
            <h1>Terms & Conditions</h1>
            <p>Last updated: 2019-02-15</p>


            <p>Welcome to the LëtzSwap! service! Please read these Terms of Service (the “Agreement”) carefully. Your use
                of the Service (as defined below) constitutes your consent to this Agreement.

            <p>This Agreement is between you and LëtzSwap! concerning your use of (including any access to) the LëtzSwap!
                website currently located at www.letzswap.lu (together with any successor site(s), the “Site”). This
                Agreement refers to the Site (together with any materials and services available therein) as the
                “Service.” Please note that this Agreement hereby incorporates by reference any additional terms and
                conditions posted by LëtzSwap!.</p>

            <p>By using the Service, you affirm that you are of legal age to enter into this Agreement (which is 18 in
                most countries), or, if you are not, that you have obtained parental or guardian consent to enter into
                this Agreement, and that your parent or guardian has agreed to be liable for your acts and omissions.

            <p>1. Changes. We may change this Agreement from time to time by notifying you of such changes by any
                reasonable means, including by posting a revised Agreement through the Service. Any such changes will
                not apply to any dispute between you and us arising prior to the date on which we posted the revised
                Agreement incorporating such changes, or otherwise notified you of such changes.</p>

            <p>Your use of the Service following any changes to this Agreement will constitute your acceptance of such
                changes. The “Last Updated” legend above indicates when this Agreement was last changed. We may, at any
                time and without liability, modify or discontinue all or part of the Service; charge, modify or waive
                any fees required to use the Service; or offer opportunities to some or all Service users.</p>

            <p>2. Information Submitted Through the Service. Your submission of information through the Service is
                governed by Company’s Privacy Policy (the “Privacy Policy”). You represent and warrant that any
                information you provide in connection with the Service, including Product listings and other Submissions
                (as defined below), is and will remain accurate and complete, and that you will maintain and update such
                information as needed.</p>

            <p>3. Jurisdictional Issues. The Service is controlled or operated (or both) from the United States, and is
                not intended to be subject Company to any non-U.S. jurisdiction or law. The Service may not be
                appropriate or available for use in some non-U.S. jurisdictions. Any use of the Service is at your own
                risk, and you must comply with all applicable laws, rules and regulations in doing so. We may limit the
                Service’s availability at any time, in whole or in part, to any person, geographic area or jurisdiction
                that we choose.</p>

            <p>4. Product Listings. The Service includes a forum where users may post and browse listings for goods,
                including second-hand goods (“Products”). Such listings and Products are provided by users, and not by
                us. We do not sell or otherwise make available any products, we do not buy or otherwise acquire any
                products, and we do not facilitate the sale, purchase or transfer of any products. We are not
                responsible or liable for any such listings or products, for any transactions or transfers involving
                products, including the shipping or delivery of any products or any payments for products, or for any
                dispute between users relating to any such listings or products. Please use caution and common sense
                when buying, selling or otherwise transferring any product, or making or receiving payment for any
                product.</p>

            <p>Neither the availability through the Service of any such listing, nor any promotional services that we
                may make available to the user who posted such listing, implies our endorsement of the listed Product or
                the provider of such Product, or any affiliation with such provider. We make no representations as to
                any Products or listings, or any providers of Products. Such information and the availability of any
                Product are subject to change at any time without notice. You must ascertain and obey all applicable
                laws regarding the marketing, promotion, sale, purchase, delivery, receipt, possession and use of any
                Product. We reserve the right to remove any Product listing for any reason.</p>

            <p>You must ensure that you have the necessary authority and permissions to post any Product listing, and to
                enter into any transaction or make any transfer relating to a Product, including, if you are not of
                legal age to do so, by obtaining proper parental or guardian consent. The legal age is 18 in most
                countries.</p>

            <p>5. Community Guidelines. You agree that you will comply with all of our Community Guidelines, as updated
                by us from time to time, located at letzswap.lu/community-guidelines. The Community Guidelines contain,
                among other things, our list of prohibited products and our rules of conduct.</p>

            <p>6. Registration; User Names and Passwords. You may need to register to use all or part of the Service. We
                may reject, or require that you change, any user name, password or other information that you provide to
                us in registering. Your user name and password are for your personal use only and should be kept
                confidential; you are responsible for any use or misuse of your user name or password, and you must
                promptly notify us of any confidentiality breach or unauthorized use of your user name or password, or
                your Service account. If you register using a social media network, you authorize us to access, use,
                disclose and retain, in accordance with our Privacy Policy, the information that we receive from the
                social media network in connection with your registration.</p>

            <p>7. Profiles and Forums. Service visitors may make available certain materials (each, a “Submission”)
                through or in connection with the Service, including listings for Products, and on profile pages or on
                the Service’s interactive services, such as message boards and other forums, and chatting, commenting
                and other messaging functionality. Company has no control over and is not responsible for any use or
                misuse (including any distribution) by any third party of Submissions. If you choose to make any of your
                personally identifiable or other information publicly available through the Service, you do so at your
                own risk.</p>

            <p>8. License. For purposes of clarity, you retain ownership of your Submissions. For each Submission, you
                hereby grant to us a worldwide, royalty-free, fully paid-up, non-exclusive, perpetual, irrevocable,
                transferable and fully sublicensable (through multiple tiers) license, without additional consideration
                to you or any third party, to reproduce, distribute, perform and display (publicly or otherwise), create
                derivative works of, adapt, modify and otherwise use, analyze and exploit such Submission, in any format
                or media now known or hereafter developed, and for any purpose (including promotional purposes, such as
                testimonials).</p>

            <p>In addition, if you provide to us any ideas, proposals, suggestions or other materials (“Feedback”),
                whether related to the Service or otherwise, such Feedback will be deemed a Submission, and you hereby
                acknowledge and agree that such Feedback is not confidential, and that your provision of such Feedback
                is gratuitous, unsolicited and without restriction, and does not place Company under any fiduciary or
                other obligation.</p>

            <p>You represent and warrant that you have all rights necessary to grant the licenses granted in this
                section, and that your Submissions, and your provision thereof through and in connection with the
                Service, are complete and accurate, and are not fraudulent, tortious or otherwise in violation of any
                applicable law or any right of any third party. You further irrevocably waive any “moral rights” or
                other rights with respect to attribution of authorship or integrity of materials regarding each
                Submission that you may have under any applicable law under any legal theory.</p>

            <p>9. Monitoring. We may (but have no obligation to) monitor, evaluate, alter or remove Submissions before
                or after they appear on the Service, or analyze your access to or use of the Service. We may disclose
                information regarding your access to and use of the Service, and the circumstances surrounding such
                access and use, to anyone for any reason or purpose.</p>

            <p>10. Your Limited Rights. The App is licensed (not sold) to end users. Subject to your compliance with
                this Agreement, and solely for so long as you are permitted by Company to use the App, we hereby permit
                you, on a limited, non-exclusive, revocable, non-transferable, non-sublicensable basis, to install and
                use the App on a mobile device that you own or control, solely for your personal, non-commercial use. If
                you fail to comply with any of the terms or conditions of this Agreement, (i) you must immediately cease
                using the App, (ii) you must remove (that is, uninstall and delete) the App from your mobile device and
                (iii) you are prohibited from using the App on any mobile device until such time as we grant you
                explicit permission to use the App again. Please note that if you do not accept the system permissions
                that the App requires from time to time, you may not be able to use the App or certain of its
                functionalities. You are responsible for obtaining, maintaining and paying for all hardware and all
                telecommunications and other services needed to use the Service.</p>

            <p>In addition, subject to your compliance with this Agreement, and solely for so long as you are permitted
                by Company to use the Site, you may view one (1) copy of any portion of the Site to which we provide you
                access under this Agreement, on any single device, solely for your personal, non-commercial use.

            <p>11. Company’s Proprietary Rights. We and our suppliers own the Service, which is protected by proprietary
                rights and laws. Our trade names, trademarks and service marks include LetzSwap and any associated
                logos. All trade names, trademarks, service marks and logos on the Service not owned by us are the
                property of their respective owners. You may not use our trade names, trademarks, service marks or logos
                in connection with any product or service that is not ours, or in any manner that is likely to cause
                confusion. Nothing contained on the Service should be construed as granting any right to use any trade
                names, trademarks, service marks or logos without the express prior written consent of the owner.</p>

            <p>12. Third Party Materials; Links. Certain Service functionality may make available access to information,
                products, services and other materials made available by third parties, including listings for Products
                and other Submissions (“Third Party Materials”), or allow for the routing or transmission of such Third
                Party Materials, including via links.

            <p>We neither control nor endorse, nor are we responsible for, any Third Party Materials. Nothing in this
                Agreement shall be deemed to be a representation or warranty by Company with respect to any Third Party
                Materials. We have no obligation to monitor Third Party Materials, and we may block or disable access to
                any Third Party Materials through the Service at any time. In addition, the availability of any Third
                Party Materials through the Service does not imply our endorsement of, or our affiliation with, any
                provider of such Third Party Materials. Your use of Third Party Materials is subject to any additional
                terms and policies applicable to such Third Party Materials.</p>

            <p>13. Promotions. Any sweepstakes, contests, raffles, surveys, games or similar promotions (collectively,
                “Promotions”) made available through the Service may be governed by rules that are separate from this
                Agreement. If you participate in any Promotions, please review the applicable rules as well as our
                Privacy Policy. If the rules for a Promotion conflict with this Agreement, the Promotion rules will
                govern.

            <p>14. DISCLAIMER OF WARRANTIES. TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW: (A) THE SERVICE AND
                ANY THIRD PARTY MATERIALS ARE MADE AVAILABLE TO YOU BY US ON AN “AS IS,” “WHERE IS” AND “WHERE
                AVAILABLE” BASIS, WITHOUT ANY WARRANTIES BY COMPANY OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY;
                AND (B) COMPANY DISCLAIMS ALL WARRANTIES WITH RESPECT TO THE SERVICE AND ANY PRODUCTS AND THIRD PARTY
                MATERIALS, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                NON-INFRINGEMENT AND TITLE. ALL DISCLAIMERS OF ANY KIND (INCLUDING IN THIS SECTION AND ELSEWHERE IN THIS
                AGREEMENT) ARE MADE FOR THE BENEFIT OF BOTH COMPANY AND ITS AFFILIATES AND THEIR RESPECTIVE
                SHAREHOLDERS, DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS, REPRESENTATIVES, LICENSORS, SUPPLIERS
                AND SERVICE PROVIDERS (COLLECTIVELY, THE “AFFILIATED ENTITIES”), AND THEIR RESPECTIVE SUCCESSORS AND
                ASSIGNS.</p>

            <p>While we try to maintain the timeliness, integrity and security of the Service, we do not guarantee that
                the Service is or will remain updated, complete, correct or secure, or that access to the Service will
                be uninterrupted. The Service may include inaccuracies, errors and materials that violate or conflict
                with this Agreement. Additionally, third parties may make unauthorized alterations to the Service. If
                you become aware of any such alteration, contact us at info@letzswap.lu with a description of such
                alteration and its location on the Service.</p>

            <p>15. LIMITATION OF LIABILITY. TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW: (A) COMPANY WILL NOT
                BE LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY
                KIND, UNDER ANY CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHER THEORY, INCLUDING
                DAMAGES FOR LOSS OF PROFITS, USE OR DATA, LOSS OF OTHER INTANGIBLES, LOSS OF SECURITY OF SUBMISSIONS
                (INCLUDING UNAUTHORIZED INTERCEPTION BY THIRD PARTIES OF ANY SUBMISSIONS), EVEN IF ADVISED IN ADVANCE OF
                THE POSSIBILITY OF SUCH DAMAGES OR LOSSES; (B) WITHOUT LIMITING THE FOREGOING, COMPANY WILL NOT BE
                LIABLE FOR DAMAGES OF ANY KIND RESULTING FROM YOUR USE OF OR INABILITY TO USE THE SERVICE OR FROM ANY
                PRODUCTS OR TRANSACTIONS OR TRANSFERS RELATING TO PRODUCTS, OR FROM ANY THIRD PARTY MATERIALS, INCLUDING
                FROM ANY VIRUS THAT MAY BE TRANSMITTED IN CONNECTION THEREWITH, AND INCLUDING FROM ANY DISPUTE WITH ANY
                OTHER USER OF THE SERVICE; (C) YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH THE SERVICE OR
                ANY THIRD PARTY MATERIALS IS TO STOP USING THE SERVICE; AND (D) THE MAXIMUM AGGREGATE LIABILITY OF
                COMPANY FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE)
                OR OTHERWISE, SHALL BE THE GREATER OF (I) THE TOTAL AMOUNT, IF ANY, PAID BY YOU TO COMPANY TO USE THE
                SERVICE, AND (II) TWENTY-FIVE U.S. DOLLARS ($25.00). ALL LIMITATIONS OF LIABILITY OF ANY KIND (INCLUDING
                IN THIS SECTION AND ELSEWHERE IN THIS AGREEMENT) ARE MADE FOR THE BENEFIT OF BOTH COMPANY AND THE
                AFFILIATED ENTITIES, AND THEIR RESPECTIVE SUCCESSORS AND ASSIGNS.</p>

            <p>16. Indemnity. To the fullest extent permitted under applicable law, you agree to defend, indemnify and
                hold harmless Company and the Affiliated Entities, and their respective successors and assigns, from and
                against all claims, liabilities, damages, judgments, awards, losses, costs, expenses and fees (including
                attorneys’ fees) arising out of or relating to (a) your use of, or activities in connection with, the
                Service (including all Submissions); (b) any Products, listings for Products, transactions or transfers
                relating to Products, or disputes with other users of the Service; and (c) any violation or alleged
                violation of this Agreement by you.</p>

            <p>17. Termination. This Agreement is effective until terminated. Company may terminate or suspend your use
                of the Service at any time and without prior notice, for any or no reason, including if Company believes
                that you have violated or acted inconsistently with the letter or spirit of this Agreement. Upon any
                such termination or suspension, your right to use the Service will immediately cease, and Company may,
                without liability to you or any third party, immediately block your associated device(s) from accessing
                or using the Service, and deactivate or delete your user name, password and account, and all associated
                materials, without any obligation to provide any further access to such materials. Sections 2–3, 9,
                12–13 and 15–25 shall survive any expiration or termination of this Agreement.</p>

            <p>18. Governing Law; Jurisdiction. The terms of this Agreement are governed by the laws of the United
                States and the State of New York, U.S.A., without regard to its principles of conflicts of law, and
                regardless of your location. You agree to submit any dispute that might arise in the delivery of the
                products or services subject to these Terms and Conditions, to the Courts of New York, United States of
                America.</p>

            <p>19. Filtering. We hereby notify you that parental control protections (such as computer hardware,
                software or filtering services) are commercially available that may assist you in limiting access to
                material that is harmful to minors. Information identifying current providers of such protections is
                available online: https://en.wikipedia.org/wiki/Comparison_of_content-control_software_and_providers.
                Please note that Company does not endorse any of the products or services listed on such site.</p>

            <p>20. Information or Complaints. If you have a question or complaint regarding the Service, please send an
                e-mail to info@letzswap.lu. Please note that e-mail communications will not necessarily be secure;
                accordingly, you should not include credit card information or other sensitive information in your
                e-mail correspondence with us.</p>

            <p>21. Miscellaneous. This Agreement does not, and shall not be construed to, create any partnership, joint
                venture, employer-employee, agency or franchisor-franchisee relationship between you and Company. If any
                provision of this Agreement is found to be unlawful, void or for any reason unenforceable, that
                provision will be deemed severable from this Agreement and will not affect the validity and
                enforceability of any remaining provision. You may not assign, transfer or sublicense any or all of your
                rights or obligations under this Agreement without our express prior written consent. We may assign,
                transfer or sublicense any or all of our rights or obligations under this Agreement without restriction.
                No waiver by either party of any breach or default under this Agreement will be deemed to be a waiver of
                any preceding or subsequent breach or default. Any heading, caption or section title contained herein is
                for convenience only, and in no way defines or explains any section or provision. All terms defined in
                the singular shall have the same meanings when used in the plural, where appropriate and unless
                otherwise specified. Any use of the term “including” or variations thereof in this Agreement shall be
                construed as if followed by the phrase “without limitation.” This Agreement, including any terms and
                conditions incorporated herein, is the entire agreement between you and Company relating to the subject
                matter hereof, and supersedes any and all prior or contemporaneous written or oral agreements or
                understandings between you and Company relating to such subject matter. Notices to you (including
                notices of changes to this Agreement) may be made via posting to the Service or by e-mail (including in
                each case via links), or by regular mail. Without limitation, a printed version of this Agreement and of
                any notice given in electronic form shall be admissible in judicial or administrative proceedings based
                upon or relating to this Agreement to the same extent and subject to the same conditions as other
                business documents and records originally generated and maintained in printed form. Company will not be
                responsible for any failure to fulfill any obligation due to any cause beyond its control.</p>
        </article>
    {% endblock %}